body {
    background-color: #BDCE9C;
    min-width: 650px;
    margin: 0px;
    font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, serif;
    color: #FFFFFF;
}

#javascript-warning {
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    height: 100%;
    z-index: 99;
    text-align: center;
}

#javascript-warning h1 {
    margin-top: 65px;
}

#title-bar {
    background-color: hsla(81,63%,31%,1);
    padding: 10px 0px 10px 0px;
    display: inline-block;
    width: 100%;
    border-bottom: 3px solid rgba(0, 0, 0, 0.22);
    color: #FFFFFF;
}

#title-bar h1 {
    display: inline;
    margin-right: 10px;
    position: relative;
    top: -5px;
}

button {
    margin: 0px 5px 0px 5px;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.44);
    color: rgba(0,0,0,0.8);
    border-radius: 4px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

button.plus-icon {
  background-image: url('/images/plus.png');
}

button.play-icon {
  background-image: url('/images/play.png');
}

button.pause-icon {
  background-image: url('/images/pause.png');
}

button.stop-icon {
  background-image: url('/images/stop.png');
}

button.reload-icon {
  background-image: url('/images/reload.png');
}

button.close-icon {
  background-image: url('/images/close.png');
}

button.volume-off-icon {
  background-image: url('/images/volume-off.png');
}

button.volume-on-icon {
  background-image: url('/images/volume-on.png');
}

button.github-icon {
  background-image: url('/images/github.png');
}

button.mail-icon {
  background-image: url('/images/mail.png');
}


button:hover {
    background-color: rgba(255,255,255,0.3);
}

button img {
    opacity: 0.9;
}

#title-options {
    float: left;
    margin-left: 10px;
}

#information {
    float: right;
    margin-right: 10px;
}

#title-options, #information {
  position: relative;
  top: 3px;
}

/* Timers */

#timerspace {
    float: left;
}

.timer {
    float: left;
    padding: 10px;
    margin: 5px 8px 5px 8px;
    border-radius: 5px;
    position: relative;
    max-width: 17em;
    border-bottom: 3px solid rgba(0, 0, 0, 0.44);
    box-shadow: 0px 6px 12px -4px rgba(0, 0, 0, 0.5);
}

.timer input[type="text"], .timer textarea, .timer select, .timer select options {
    background-color: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.9);
    -moz-appearance: none;
}

.timer select {
    font-size: 1em;
    width: 80%;
    padding: 9px 0px 9px 0px;
}

.timer select option {
  background-color: #E6E6E6;
  color: #1B1B1B;
}

.timer h3 {
    font-size: 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.timer .timer-title input {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

.timer .timer-time-options {
    text-align: center;
}

.timer .timer-time-options input {
    width: 20%;
    font-size: 2em;
    text-align: center;
}

.timer .timer-type-options button {
    float: right;
    margin-right: 0px;
}

.timer .timer-options {
    padding-top: 5px;
}

.timer .timer-notes textarea {
    width: 100%;
    box-sizing: border-box;
}

.timer .timer-options .play-button, .timer .time-options .reload-button {
    margin-left: 0px;
}

.timer .timer-options .close-button {
    float: right;
    margin-right: 0px;
}
