body {
    background-color: hsla(81,63%,71%,1);
    min-width: 650px;
    margin: 0px;
    font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, serif;
    color: #FFFFFF;
}

#javascript-warning {
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    height: 100%;
    z-index: 99;
    text-align: center;
}

#javascript-warning h1 {
    margin-top: 65px;
}

#title-bar {
    background-color: hsla(81,63%,31%,1);
    padding: 10px 0px 10px 0px;
    display: inline-block;
    width: 100%;
    border-bottom: 3px solid rgba(0, 0, 0, 0.22);
    color: #FFFFFF;
}

#title-bar h1 {
    display: inline;
    margin-right: 10px;
}

#title-bar button {
    margin: 0px 5px 0px 5px;
    min-height: 40px;
    min-width: 40px;
    background-color: rgba(255,255,255,0.2);
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.44);
    color: rgba(0,0,0,0.8);
    border-radius: 4px;
}


#title-bar button:hover {
    background-color: rgba(255,255,255,0.3);
}

button img {
    opacity: 0.9;
}

#title-options {
    float: left;
    margin-left: 10px;
}

#information {
    float: right;
    margin-right: 10px;
}

#information button {
    cursor: pointer;
}

/* Timers */

#timerspace {
    float: left;
}

.timer {
    float: left;
    padding: 10px;
    margin: 5px 8px 5px 8px;
    border-radius: 5px;
    position: relative;
    max-width: 17em;
    border-bottom: 3px solid rgba(0, 0, 0, 0.44);
    box-shadow: 0px 6px 12px -4px rgba(0, 0, 0, 0.5);
}

.timer input[type="text"], .timer textarea, .timer select, .timer select options {
    background-color: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.8);
    -moz-appearance: none;
}

.timer select {
    font-size: 1em;
    width: 80%;
    padding: 9px 0px 9px 0px;
}

.timer button {
  margin: 0px 5px 0px 5px;
  min-height: 40px;
  min-width: 40px;
  background-color: rgba(255,255,255,0.2);
  background: linear-gradient(rgba(255,255,255,0.25) 30%, rgba(255,255,255,0.2) 100%);
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.44);
  color: rgba(0,0,0,0.8);
  border-radius: 4px;
}

.timer button:hover {
    background-color: rgba(0,0,0,0.25);
}

.timer h3 {
    font-size: 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.timer .timer-title input {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

.timer .timer-time-options {
    text-align: center;
}

.timer .timer-time-options input {
    width: 20%;
    font-size: 2em;
    text-align: center;
}

.timer .timer-type-options button {
    float: right;
    margin-right: 0px;
}

.timer .timer-options {
    padding-top: 5px;
}

.timer .timer-notes textarea {
    width: 100%;
    box-sizing: border-box;
}

.timer .timer-options .play-button, .timer .time-options .reload-button {
    margin-left: 0px;
}

.timer .timer-options .close-button {
    float: right;
    margin-right: 0px;
}
